<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST" enctype="multipart/form-data">
        <h1>Add a Question</h1>
        Question type<br/>
        <input type="radio" name="type" id="text" value="text"> Text <br>
        <input type="radio" name="type" id="mc" value="mc"> Multiple Choice <br>
         
        Topic<br/>
        <select id="topic" name="topic">
          <option value=""> </option>
            <option value="social ethical">Social and ethical issues</option>
            <option value="hardware software">Hardware and software</option>
            <option value="sda">Software development approaches</option>
            <option value="dppd">Defining and understanding the problem, and planning and designing software solutions</option>
            <option value="implementing">Implementing software solutions</option>
            <option value="testing">Testing and evaluating software solutions</option>
            <option value="maintaining">Maintaining software solutions</option>
            <option value="developing solutions">Developing Software Solutions</option>
            <option value="application sda">Application of software development approaches</option>
            <option value="defining">Defining and understanding the problem</option>
            <option value="planning">Planning and designing software solutions</option>
            <option value="implementing">Implementation of software solution</option>
            <option value="developing package">Developing a Solution Package</option>
            <option value="paradigms">Programming Paradigms</option>
            <option value="interrelationship">The interrelationship between software and hardware</option>
         </select><br/><br/>
        
        Marks<br/>
        <input type = "text" name = "marks" /><br/><br/>

        Image<br/>
        <input type = "file" name = "image" /><br/><br/>
        
         Text<br/>
        <input type = "text" name = "text" /><br/><br/>

        Answer A<br/>
        <input type = "text" name = "ansA" /><br/><br/>

        Answer B<br/>
        <input type = "text" name = "ansB" /><br/><br/>

        Answer C<br/>
        <input type = "text" name = "ansC" /><br/><br/>

        Answer D<br/>
        <input type = "text" name = "ansD" /><br/><br/>

        Correct<br/>
        <input type = "text" name = "correct" /><br/><br/>

        Marking Criteria<br/>
        <input type = "text" name = "markingcrit" /><br/><br/>

        Tags (separate tags with semicolons) <br/>
        <textarea id="tags" name="tags" rows="3" cols="30"></textarea><br/><br/>

         <input type = "submit" value = "submit" /><br/>
      </form>
   </body>
</html>