<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
           <td>Type</td> 
           <td>Topic</td>
           <td>Marks</td>
           <td>Image</td>
           <td>Text</td>
           <td>Answer A</td>
           <td>Answer B</td>
           <td>Answer C</td>
           <td>Answer D</td>
           <td>Marking Criteria</td>
           <td>correct</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["type"]}}</td>
               <td>{{row["topic"]}}</td>
               <td>{{row["marks"]}}</td>
               <td>{{row["image"]}}</td>
               <td>{{row["text"]}}</td>	
              <td>{{row["answera"]}}</td>	
              <td>{{row["answerb"]}}</td>	
              <td>{{row["answerc"]}}</td>	
              <td>{{row["answerd"]}}</td>	
              <td>{{row["marking_criteria"]}}</td>	
              <td>{{row["correct"]}}</td>	
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>