<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
   <body>

         {% for row in rows %}
            
      <article class="question-text">
        <h2>{{row["topic"]}}</h2>
        {% if row["image"] %}
          <img class="question-image" src="{{row['image']}}" alt="Question on {{row['image']}}">
        {% endif %}
        <div class="question-text">
          
          <p>Marks: {{row["marks"]}}</p>
          <p>{{row["text"]}}</p>
          <div>
            {% set tags = row["tags"].split(';') %}
            {% for tag in tags %}
                <h4 class="tag">{{ tag }}</h4>
            {% endfor %} 
          </div>
        </div>
      </article>

          {% endfor %}

      
      <div style="display:block"><a href = "/">Go back to home page</a></div>
      
   </body>
</html>